<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <h1 class="col-9 text-info">Welcome {{ users.first_name }}!!!</h1>
            <a class="navbar-brand btn btn-info" href="/logout">Logout</a>
        </div>
    </nav>
    <div>
        <h1 class="text-primary">Members</h1>
        <table class="table table-striped table-hover table-light table-bordered">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </thead>
            {% for one_user in all_users %}
            <tbody>
                <td>{{one_user.first_name}} {{ one_user.last_name }}</td>
                <td>{{ one_user.email }}</td>
                <td>
                    <a class="btn btn-primary" href="/one_user/{{ one_user.id }}">View</a>
                    {% if one_user.id == session.user_id %}
                    {% endif %}
                </td>
            </tbody>
            {% endfor%}
        </table>
        <a class="btn btn-primary" href="/new">Add record</a>
    </div>
</body>

</html>