<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <h1 class="col-9 text-info">Gym Record Board</h1>
            <a class="navbar-brand btn btn-primary" href="/dashboard">Dashboard</a>
            <a class="navbar-brand btn btn-info" href="/logout">Logout</a>
        </div>
    </nav>
    <div>
        <div class="d-flex justify-content-around mt-4">
            <div class="col-10 p-4 bg-dark text-light">
                <h1 class="text-danger">Personal Records!!!</h1>
                <table class="table table-striped table-hover table-light table-bordered">
                    <thead>
                        <th>Date</th>
                        <th>Cardio Max</th>
                        <th>Arm Curl Max</th>
                        <th>Squats Max Sets</th>
                        <th>Situp Reps MAX</th>
                        <th>Legs Set Max</th>
                        <th>Triceps Sets MAX</th>
                        <th>Actions</th>
                    </thead>
                    {% for workout in users_and_workouts.workouts %}
                    <tbody>
                        <td>{{ workout.updated_at}}</td>
                        <td>{{ workout.cardio_max}}</td>
                        <td>{{ workout.arm_curl_max}}</td>
                        <td>{{ workout.squats_max_sets}}</td>
                        <td>{{ workout.situp_reps_max}}</td>
                        <td>{{ workout.legs_set_max}}</td>
                        <td>{{ workout.triceps_sets_max}}</td>
                        <td>
                            <a class="btn btn-info" href="/one_workout/{{workout.id}}">View PR</a>
                            {% if users_and_workouts.id == session.user_id %}
                            <a class="btn btn-danger" href="/edit/{{workout.id}}">Update PRs</a> 
                            <a class="btn btn-primary" href="/destroy_workout/{{workout.id}}">Delete PRs</a>
                            {% endif %}
                        </td>
                    </tbody>
                    {% endfor %}
                </table>
                <div>
        </div>
    </div>
</body>
</html>