<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="d-flex justify-content-around mt-4">
        <form action="/create_workout" method="POST" class="col-4 p-4 bg-dark text-light">
            {% with messages = get_flashed_messages(category_filter=['data']) %}
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Flash WOW!!!!</strong>
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="form-group">
                <label for="cardio_max">Cardio Max:</label>
                <input type="number" name="cardio_max" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="arm_curl_max">Arm Curl Max:</label>
                <input type="number" name="arm_curl_max" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="squats_max_sets">Squats Max Sets:</label>
                <input type="number" name="squats_max_sets" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="situp_reps_max">Situp Reps Max:</label>
                <input type="number" name="situp_reps_max" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="leg_set_max">Leg Set Max:</label>
                <input type="number" name="leg_set_max" class="form-control" cols="30" rows="5">
            </div>
            <div class="form-group">
                <label for="triceps_sets_max">Leg Set Max:</label>
                <input type="number" name="triceps_sets_max" class="form-control" cols="30" rows="5">
            </div>

            <input type="submit" value="New Workout" class="form-control btn btn-primary">
        </form>
    </div>
</body>
</html>